<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The School Portal</title>
    <link rel="stylesheet" href="styles.css">   
</head>
<body>
    <ul>
        <li><a href="~/Home/Index.cshtml">Home</a></li>
        <li><a href="#news">News</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    </ul>
    <table id="tables">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Suffix</th>
            <th>Sex</th>
            <th>Birth of Date</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Grade</th>
            <th>School</th>
</tr>
        @foreach (dynamic p in (ViewBag.students))
        {
            <tr>
                <td>@p.getcardid()</td>
                <td>@p.getusercred().getusername()</td>
                <td>@p.getuserinfo().getname().getfirstname()</td>
                <td>@p.getuserinfo().getname().getmiddlename()</td>
                <td>@p.getuserinfo().getname().getlastname()</td>
                <td>@p.getuserinfo().getname().getsuffix()</td>
                <td>@p.getuserinfo().getname().getsex()</td>
                <td>@p.getuserinfo().getname().getbirthofdate().ToShortDateString()</td>
                <td>@p.getuserinfo().getaddress().getaddress1()</td>
                <td>@p.getuserinfo().getaddress().getaddress2()</td>
                <td>@p.getuserinfo().getaddress().getcity()</td>
                <td>@p.getuserinfo().getaddress().getstate()</td>
                <td>@p.getuserinfo().getaddress().getzipcode()</td>
                <td>@p.getuserinfo().getgrade()</td>
                <td>@p.getuserinfo().getschool()</td>
            </tr>
        }
    </table>

</body>
</html>